<div class="w-full flex flex-col space-y-4">
  <% if false #notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <div class="inline-flex items-center space-x-2">
      <h1 class="font-bold text-4xl">Poop Diary</h1>
      <i class="fa-solid fa-book fa-xl"></i>
    </div>
    <%= link_to "<span>New #{image_tag('poop.svg', class: 'h-6 inline-block')}</span>".html_safe, new_poop_path, class: "rounded-lg py-3 px-5 text-white bg-brown block font-medium", data: { turbo_frame: "modal" } %>
  </div>



  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Time</th>
          <th scope="col" class="px-6 py-3">Majestic Rating</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @poops %>
      </tbody>
    </table>
    <div class="flex mt-12 items-center justify-center space-x-4 w-full">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>